 <!-- bannier -->
 <header class="bg-light py-5 banner-center">
     <div class="container px-4 px-lg-5">
         <div class="text-center text-black">
             <h1 class="display-4 fw-bolder banstyle">Camellia Salon & SPA</h1>
             <p class="h3-banner">Djibouti</p>
             <h3 class="h3-prime-banner">Beauté, Cosmetique et Soins</h3>
             <hr />
         </div>
     </div>
 </header>
