 <!-- Header-->
 <header class="bg-dark py-5 mt-2">
     <div class="container px-4 card-style-bannier  px-lg-5 my-5">
         <div class="text-center text-white p-2">
             <h1 class="display-4 fw-bolder">Achetez avec style</h1>
             <p class="lead fw-normal text-white-50 mb-0">Bienvenue Cordonnier 2.0 chez Pape Diop avec les styles</p>
         </div>
     </div>
 </header>