<!-- Footer-->
<footer class="py-5 bg-dark">
 <div class="container">
    <div class="row">
        <div class="col-md-4  mb-3">
            <h5 class="text-white social">Nous suivre</h5>
            <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-facebook"></i>  Facebook</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-instagram"></i>  Instagram</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><i class="fa fa-twitter"></i>  Twitter</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Rejoignez la communauté Camelia</a></li>
            </ul>
        </div>

        <div class="col-md-4   mb-3">
            <h5 class="text-white sociale">Newsletter</h5>
            <p class="text-style py-2">
                Inscrivez vous pour tout savoir de nos nouveautés et recevoir des informations et avantages exclusifs
            </p>
            <form>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">Email address</label>
                <input id="newsletter1" type="text" class="form-control form-controls" placeholder="Email address">
                <button class="btn btn-outline-light bt" type="button">Subscribe</button>
            </div>
            </form>
        </div>  

        <div class="col-md-4   mb-3">
            <h5 class="text-white sociale">Carnets beauté</h5>
            <p class="text-style py-2">
               Routine beauté, rituel bien-être, choisir ses produits Blancrème… nos conseils et astuces
            </p>
            <form>
            <div class="flex">
                <button class="btn btn-outline-light bt text-center" type="button">JE DÉCOUVRE</button>
            </div>
            </form>
        </div>  
    </div>
    <div class="row">
        <div class="flex-column flex-sm-row justify-content-between py-4 border-top">
            <p class="text-white text-center">© 2022 Camelia, Inc. Tous droits réservés..</p>
            <ul class="nav justify-content-center">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        </div>
    </div>
</div>
</footer>  