<!-- Footer-->

<footer class="py-5 bg-dark">
<div class="container py-5">
    <div class="row">
        <div class="col-md-3">
            <h5 class="m-0 text-center text-white">Logo de l'entreprise</h5>
            
        </div>
        <div class="col-md-3"><h5 class="m-0 text-center text-white">Liens utiles</h5></div>
        <div class="col-md-3">
           <h5 class="m-0 text-center text-white">Contactez-nous </h5>
           <h6 class="mt-1 text-center text-white">
           <a class="linkWhatsapp">
            Rue de l'entreprise</a>
           </h6>
           <h6 class="mt-1 text-center text-white">
           <a class="linkWhatsapp">
           BP: 1835</a>
           </h6>
            <h6 class="mt-1 text-center text-white">
            <a href="mailto:contact@gmail.com" class="linkWhatsapp">
            <i class="bi bi-phone me-1"></i>
            +0253 77 83 09 71</a></h6>
           <h6 class="mt-1 text-center text-white">
            <a href="mailto:contact@gmail.com" class="linkWhatsapp">
             <i class="bi bi-envelope me-1"></i>
            contact@djib-soft.com</a></h6>
        </div>
         <div class="col-md-3">
           <h5 class="m-0 text-center text-white">Contactez-nous </h5>
           <h6 class="mt-1 text-center text-white">
           <a href="https://wa.me/0025377830971?text=le message de souhait de l'entreprise" class="linkWhatsapp">
           <i class="bi bi-phone"></i>
           <i class="bi bi-whatsapp me-1"></i>
           +00253 77 83 09 71</a>
           </h6>
           
           <h6 class="mt-1 text-center text-white">
            <a href="mailto:contact@gmail.com" class="linkWhatsapp">
             <i class="bi bi-envelope me-1"></i>
            contact@djib-soft.com</a></h6>
            <h6 class="mt-1 text-center text-white">
            <a href="#" class="linkWhatsapp">
            <i class="bi bi-facebook me-1"></i>
            djib-soft</a></h6>
        </div>
    </div>
</div>
<div class="container"><p class="m-0 text-center text-white">Développer par djib-soft  &copy; 2022</p></div>
</footer>  