<nav class="cahemobile  navbar navbar-expand-lg bg-light">
    <ul class="nav navbar-nav navbar-light mr-auto">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link " href="/">POINTS DE VENTE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://wa.me/0025377870331/text= Bievenue Chez Camelia">Contactez-nous</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="{{path('cart')}}">Mon PANIER  <span class="badge bg-dark text-white ms-1 rounded-pill">{{items | length}}</span></a>
      </li>
    </ul>
</nav>

<nav class="caheweb">
  <ul>
      <li><a class="nav-link geo" href="#home"><i class="bi bi-geo-alt"></i></a></li>
      <li><a class="nav-link" href="https://wa.me/0025377870331/text= Bievenue Chez Camelia"><i class="bi bi-whatsapp"></i></a></li>
      <li><a class="nav-link" href="{{path('cart')}}">
        <i class="bi bi-bag" style="font-size:24px"></i>
        <span class='badge badge-warning' id='lblCartCount'>{{items | length}}</span>
      </a>
      </li>
  </ul>
</nav>